<doctype html>
    <html>
        <head>
            <title><%- 'Not Found' %></title>
        </head>
        <body>
            <div style="text-align: center;">
                <h1 style="color: red;"><%- message %></h1>
                <h3 style="color: red;"><%- status %></h3>
            </div>
        </body>
    </html>
</doctype>