<doctype html>
    <html>
        <head>
            <title>Using Embedded Javascript Syntax View Engine!</title>
        </head>
        <body>
            <h1><%= myHeader %></h1>
            <h2>Hello from EJS!</h2>
        </body>
    </html>
</doctype>