<doctype html>
    <html>
        <head>
            <title>Using Embedded Javascript Syntax View Engine!</title>
        </head>
        <body>
            <h1 style="text-align: center;">User Info</h1>
            <h2>Id <%= Id %></h2>
            <h2>Name <%= Name %></h2>
        </body>
    </html>
</doctype>